######################################################
######################################################
## These constraints are for LOGi-Pi RA2 FPGA Shield##
######################################################
######################################################
NET clk_50 TNM_NET = clk50_grp;
TIMESPEC TS_PER_CLK50 = PERIOD "clk50_grp" 20.0 ns ;
# Clock ###########################################################################
NET "clk_50"      LOC = "P124";
# LEDs ###########################################################################
NET "LED<0>"        LOC = "P58" | IOSTANDARD = LVTTL;      #SHARED WITH ARD_D6
NET "LED<1>"        LOC = "P59" | IOSTANDARD = LVTTL;      #SHARED WITH ARD_D7

# SDRAM #########################################################################
NET "SDRAM_CKE"      LOC = "P24"  | IOSTANDARD = LVTTL;
NET "SDRAM_CLK"      LOC = "P23"  | IOSTANDARD = LVTTL |FAST;
NET "SDRAM_nCAS"     LOC = "P143" | IOSTANDARD = LVTTL;
NET "SDRAM_nRAS"     LOC = "P142" | IOSTANDARD = LVTTL;
NET "SDRAM_nWE"      LOC = "P144" | IOSTANDARD = LVTTL;
#
NET "SDRAM_CS"       LOC = "P141" | IOSTANDARD = LVTTL;
NET "SDRAM_BA<0>"    LOC = "P140" | IOSTANDARD = LVTTL;
NET "SDRAM_BA<1>"    LOC = "P1"   | IOSTANDARD = LVTTL;

NET "SDRAM_DQM<0>"   LOC = "P139" | IOSTANDARD = LVTTL;
NET "SDRAM_DQM<1>"   LOC = "P22"  | IOSTANDARD = LVTTL;   

NET "SDRAM_ADDR<0>"  LOC = "P5"   | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<1>"  LOC = "P6"   | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<2>"  LOC = "P7"   | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<3>"  LOC = "P8"   | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<4>"  LOC = "P35"  | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<5>"  LOC = "P34"  | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<6>"  LOC = "P33"  | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<7>"  LOC = "P32"  | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<8>"  LOC = "P30"  | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<9>"  LOC = "P29"  | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<10>" LOC = "P2"   | IOSTANDARD = LVTTL;      
NET "SDRAM_ADDR<11>" LOC = "P27"  | IOSTANDARD = LVTTL;   
NET "SDRAM_ADDR<12>" LOC = "P26"  | IOSTANDARD = LVTTL;      

NET "SDRAM_DQ<0>"    LOC = "P126" | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<1>"    LOC = "P127" | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<2>"    LOC = "P131" | IOSTANDARD = LVTTL;
NET "SDRAM_DQ<3>"    LOC = "P132" | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<4>"    LOC = "P133" | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<5>"    LOC = "P134" | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<6>"    LOC = "P137" | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<7>"    LOC = "P138" | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<8>"    LOC = "P17"  | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<9>"    LOC = "P16"  | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<10>"   LOC = "P15"  | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<11>"   LOC = "P14"  | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<12>"   LOC = "P12"  | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<13>"   LOC = "P11"  | IOSTANDARD = LVTTL;      
NET "SDRAM_DQ<14>"   LOC = "P10"  | IOSTANDARD = LVTTL;   
NET "SDRAM_DQ<15>"   LOC = "P9"   | IOSTANDARD = LVTTL;   

NET "pi_rx"          LOC = "P50"  | IOSTANDARD = LVTTL;   
