##========================================================
##    Pin assignment for Xilinx
##    Mark1 - Pong Chu book compatible - (work in progress)
##========================================================
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;


##========================================================
## clock and reset
##========================================================
NET "clk"    LOC = P55;
NET "reset"  LOC = P57; #btn<3>

##========================================================
## buttons & switches
##========================================================
## 4 pushbuttons
NET "btn<0>"   LOC = P61;
NET "btn<1>"   LOC = P59;
NET "btn<2>"   LOC = P58;
#NET "btn<3>"  LOC = P57;  #btn<3> also used as reset

#========================================================
# 8 discrete LEDs
#========================================================
NET "led<0>"  LOC = P56;
NET "led<1>"  LOC = P51;
NET "led<2>"  LOC = P50;
NET "led<3>"  LOC = P48;
NET "led<4>"  LOC = P47;
NET "led<5>"  LOC = P46;
NET "led<6>"  LOC = P45;
NET "led<7>"  LOC = P44;
#=========================================================
## 8 slide switches
#==========================================================
NET "sw<0>"  LOC = P5;
NET "sw<1>"  LOC = P6;
NET "sw<2>"  LOC = P7;
NET "sw<3>"  LOC = P8;
NET "sw<4>"  LOC = P9;
NET "sw<5>"  LOC = P10;
NET "sw<6>"  LOC = P11;
NET "sw<7>"  LOC = P12;

#========================================================
# UART to USB (FTDI)
#========================================================
NET "rx"  LOC = P21;
NET "tx"  LOC = P43;

#========================================================
# DAC
#========================================================
NET "dac_0" LOC = P2;
NET "dac_1" LOC = P1;
NET "dac_2" LOC = P40;

#========================================================
# Parallel port
#========================================================
NET "pd<0>" LOC = P143;
NET "pd<1>" LOC = P142;
NET "pd<2>" LOC = P141;
NET "pd<3>" LOC = P140;
NET "pd<4>" LOC = P139;
NET "pd<5>" LOC = P138;
NET "pd<6>" LOC = P137;
NET "pd<7>" LOC = P134;
NET "pmrd" LOC = P133;
NET "pmwr" LOC = P132;
NET "addr_data" LOC = P131;


#========================================================
# 4-digit time-multiplexed 7-segment LED display
#========================================================
# digit enable
NET "an<0>"  LOC = "D14";
NET "an<1>"  LOC = "G14";
NET "an<2>"  LOC = "F14";
NET "an<3>"  LOC = "E13";

# 7-segment led segments
NET "sseg<7>"  LOC = "P16"; # decimal point
NET "sseg<6>"  LOC = "E14"; # segment a
NET "sseg<5>"  LOC = "G13"; # segment b
NET "sseg<4>"  LOC = "N15"; # segment c
NET "sseg<3>"  LOC = "P15"; # segment d
NET "sseg<2>"  LOC = "R16"; # segment e
NET "sseg<1>"  LOC = "F13"; # segment f
NET "sseg<0>"  LOC = "N16"; # segment g
#========================================================
# VGA outputs
#========================================================
NET "rgb<2>"  LOC = "R12" | DRIVE=8 | SLEW=FAST;
NET "rgb<1>"  LOC = "T12" | DRIVE=8 | SLEW=FAST;
NET "rgb<0>"  LOC = "R11" | DRIVE=8 | SLEW=FAST;
NET "vsync"   LOC = "T10" | DRIVE=8 | SLEW=FAST;
NET "hsync"   LOC = "R9"  | DRIVE=8 | SLEW=FAST;

#========================================================
# PS2 port
#========================================================
NET "ps2c" LOC="M16" | IOSTANDARD=LVCMOS33 | DRIVE=8 |SLEW=SLOW;
NET "ps2d" LOC="M15" | IOSTANDARD=LVCMOS33 | DRIVE=8 |SLEW=SLOW;


#========================================================
# Arduino Shield
#========================================================
NET "s_d0" LOC = P35;
NET "s_d1" LOC = P34;
NET "s_d2" LOC = P33;
NET "s_d3" LOC = P32;
NET "s_d4" LOC = P30;
NET "s_d5" LOC = P29;
NET "s_d6" LOC = P27;
NET "s_d7" LOC = P26;
NET "s_d8" LOC = P24;
NET "s_d9" LOC = P23;
NET "s_d10" LOC = P22;
NET "s_d11" LOC = P21;
NET "s_d12" LOC = P17;
NET "s_d13" LOC = P16;
NET "s_scl" LOC = P15;
NET "s_sda" LOC = P14;


## Uncomment the PMOD defenitions if using individual pmods
##========================================================
## PMOD1
##========================================================
#NET "p1_1" LOC = P127;
#NET "p1_2" LOC = P126;
#NET "p1_3" LOC = P124;
#NET "p1_4" LOC = P123;
#NET "p1_7" LOC = P121;
#NET "p1_8" LOC = P120;
#NET "p1_9" LOC = P119;
#NET "p1_10" LOC = P118;
#
##========================================================
## PMOD2
##========================================================
#NET "p2_1" LOC = P117;
#NET "p2_2" LOC = P116;
#NET "p2_3" LOC = P115;
#NET "p2_4" LOC = P114;
#NET "p2_7" LOC = P112;
#NET "p2_8" LOC = P111;
#NET "p2_9" LOC = P105;
#NET "p2_10" LOC = P104;
#
##========================================================
## PMOD3
##========================================================
#NET "p3_1" LOC = P102;
#NET "p3_2" LOC = P101;
#NET "p3_3" LOC = P100;
#NET "p3_4" LOC = P99;
#NET "p3_7" LOC = P98;
#NET "p3_8" LOC = P97;
#NET "p3_9" LOC = P95;
#NET "p3_10" LOC = P94;
#
##========================================================
## PMOD4
##========================================================
#NET "p4_1" LOC = P93;
#NET "p4_2" LOC = P92;
#NET "p4_3" LOC = P88;
#NET "p4_4" LOC = P87;
#NET "p4_7" LOC = P85;
#NET "p4_8" LOC = P84;
#NET "p4_9" LOC = P83;
#NET "p4_10" LOC = P82;
#
##========================================================
## PMOD5
##========================================================
#NET "p5_1" LOC = P81;
#NET "p5_2" LOC = P80;
#NET "p5_3" LOC = P79;
#NET "p5_4" LOC = P78;
#NET "p5_7" LOC = P75;
#NET "p5_8" LOC = P67;
#NET "p5_9" LOC = P66;
#NET "p5_10" LOC = P62;
#




##========================================================
## two SRAM chips
##========================================================
## shared 18-bit memory address
#NET "ad<17>"  LOC="L3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<16>"  LOC="K5" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<15>"  LOC="K3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<14>"  LOC="J3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<13>"  LOC="J4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<12>"  LOC="H4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<11>"  LOC="H3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<10>"  LOC="G5" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<9>"   LOC="E4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<8>"   LOC="E3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<7>"   LOC="F4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<6>"   LOC="F3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<5>"   LOC="G4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<4>"   LOC="L4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<3>"   LOC="M3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<2>"   LOC="M4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<1>"   LOC="N3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "ad<0>"   LOC="L5" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#
## shared oe, we
#NET "oe_n"    LOC="K4" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#NET "we_n"    LOC="G3" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
#
## sram chip 1 data, ce, ub, lb
#NET "dio_a<15>" LOC="R1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<14>" LOC="P1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<13>" LOC="L2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<12>" LOC="J2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<11>" LOC="H1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<10>" LOC="F2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<9>"  LOC="P8" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<8>"  LOC="D3" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<7>"  LOC="B1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<6>"  LOC="C1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<5>"  LOC="C2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<4>"  LOC="R5" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<3>"  LOC="T5" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<2>"  LOC="R6" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<1>"  LOC="T8" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_a<0>"  LOC="N7" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ce_a_n"    LOC="P7" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ub_a_n"    LOC="T4" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "lb_a_n"    LOC="P6" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#
## sram chip 2 data, ce, ub, lb
#NET "dio_b<15>" LOC="N1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<14>" LOC="M1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<13>" LOC="K2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<12>" LOC="C3" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<11>" LOC="F5" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<10>" LOC="G1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<9>"  LOC="E2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<8>"  LOC="D2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<7>"  LOC="D1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<6>"  LOC="E1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<5>"  LOC="G2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<4>"  LOC="J1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<3>"  LOC="K1" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<2>"  LOC="M2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<1>"  LOC="N2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "dio_b<0>"  LOC="P2" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ce_b_n"    LOC="N5" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ub_b_n"    LOC="R4" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "lb_b_n"    LOC="P5" | IOSTANDARD=LVCMOS33 | SLEW=FAST;
