//! **************************************************************************
// Written by: Map P.15xf on Mon Feb 03 16:23:25 2014
//! **************************************************************************

SCHEMATIC START;
COMP "OSC_FPGA" LOCATE = SITE "P92" LEVEL 1;
COMP "GPMC_AD<10>" LOCATE = SITE "P111" LEVEL 1;
COMP "GPMC_AD<11>" LOCATE = SITE "P97" LEVEL 1;
COMP "GPMC_AD<12>" LOCATE = SITE "P114" LEVEL 1;
COMP "GPMC_AD<13>" LOCATE = SITE "P115" LEVEL 1;
COMP "GPMC_AD<14>" LOCATE = SITE "P95" LEVEL 1;
COMP "GPMC_AD<15>" LOCATE = SITE "P94" LEVEL 1;
COMP "GPMC_BEN<0>" LOCATE = SITE "P117" LEVEL 1;
COMP "GPMC_BEN<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "PB<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "PB<1>" LOCATE = SITE "P46" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P62" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "GPMC_AD<0>" LOCATE = SITE "P98" LEVEL 1;
COMP "GPMC_AD<1>" LOCATE = SITE "P99" LEVEL 1;
COMP "GPMC_AD<2>" LOCATE = SITE "P121" LEVEL 1;
COMP "GPMC_AD<3>" LOCATE = SITE "P120" LEVEL 1;
COMP "GPMC_AD<4>" LOCATE = SITE "P100" LEVEL 1;
COMP "GPMC_AD<5>" LOCATE = SITE "P101" LEVEL 1;
COMP "GPMC_AD<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "GPMC_AD<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "GPMC_AD<8>" LOCATE = SITE "P104" LEVEL 1;
COMP "GPMC_AD<9>" LOCATE = SITE "P112" LEVEL 1;
COMP "GPMC_ADVN" LOCATE = SITE "P119" LEVEL 1;
COMP "GPMC_CLK" LOCATE = SITE "P105" LEVEL 1;
PIN GPMC_CLK_pin<0> = BEL "GPMC_CLK" PINNAME PAD;
PIN "GPMC_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "GPMC_CSN" LOCATE = SITE "P102" LEVEL 1;
COMP "GPMC_OEN" LOCATE = SITE "P118" LEVEL 1;
COMP "GPMC_WEN" LOCATE = SITE "P116" LEVEL 1;
COMP "ARD_SDA" LOCATE = SITE "P88" LEVEL 1;
COMP "ARD_SCL" LOCATE = SITE "P87" LEVEL 1;
COMP "PMOD1<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "PMOD1<1>" LOCATE = SITE "P78" LEVEL 1;
COMP "PMOD1<2>" LOCATE = SITE "P85" LEVEL 1;
COMP "PMOD1<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "PMOD2<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "PMOD1<4>" LOCATE = SITE "P83" LEVEL 1;
COMP "PMOD2<1>" LOCATE = SITE "P55" LEVEL 1;
COMP "PMOD1<5>" LOCATE = SITE "P82" LEVEL 1;
COMP "PMOD1<6>" LOCATE = SITE "P81" LEVEL 1;
COMP "PMOD2<2>" LOCATE = SITE "P51" LEVEL 1;
COMP "PMOD2<3>" LOCATE = SITE "P50" LEVEL 1;
COMP "PMOD1<7>" LOCATE = SITE "P80" LEVEL 1;
COMP "PMOD2<4>" LOCATE = SITE "P67" LEVEL 1;
COMP "PMOD2<5>" LOCATE = SITE "P66" LEVEL 1;
COMP "PMOD2<6>" LOCATE = SITE "P58" LEVEL 1;
COMP "PMOD2<7>" LOCATE = SITE "P57" LEVEL 1;
PIN PMOD2<7>_pin<0> = BEL "PMOD2<7>" PINNAME PAD;
PIN "PMOD2<7>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN sys_clocks_gen/clkout2_buf_pin<1> = BEL "sys_clocks_gen/clkout2_buf"
        PINNAME O;
PIN "sys_clocks_gen/clkout2_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM7" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM7" PINNAME CLKB;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM6" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM6" PINNAME CLKB;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM8" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM8" PINNAME CLKB;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM5" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM5" PINNAME CLKB;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM4" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM4" PINNAME CLKB;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM3" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM3" PINNAME CLKB;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM2" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM2" PINNAME CLKB;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<26> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM1" PINNAME CLKA;
PIN bi_fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<27> = BEL
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM1" PINNAME CLKB;
PIN conf_rom/Mram_rom_pins<9> = BEL "conf_rom/Mram_rom" PINNAME CLKAWRCLK;
TIMEGRP sys_clocks_gen_clkout0 = BEL "sys_clocks_gen/clkout1_buf" BEL
        "gpmc2wishbone/address_15" BEL "gpmc2wishbone/address_14" BEL
        "gpmc2wishbone/address_13" BEL "gpmc2wishbone/address_12" BEL
        "gpmc2wishbone/address_11" BEL "gpmc2wishbone/address_10" BEL
        "gpmc2wishbone/address_9" BEL "gpmc2wishbone/address_8" BEL
        "gpmc2wishbone/address_7" BEL "gpmc2wishbone/address_6" BEL
        "gpmc2wishbone/address_5" BEL "gpmc2wishbone/address_4" BEL
        "gpmc2wishbone/address_3" BEL "gpmc2wishbone/address_2" BEL
        "gpmc2wishbone/address_1" BEL "gpmc2wishbone/address_0" BEL
        "gpmc2wishbone/readn" BEL "gpmc2wishbone/writen" BEL
        "gpmc2wishbone/csn" BEL "gpmc2wishbone/readdata_bridge_15" BEL
        "gpmc2wishbone/readdata_bridge_14" BEL
        "gpmc2wishbone/readdata_bridge_13" BEL
        "gpmc2wishbone/readdata_bridge_12" BEL
        "gpmc2wishbone/readdata_bridge_11" BEL
        "gpmc2wishbone/readdata_bridge_10" BEL
        "gpmc2wishbone/readdata_bridge_9" BEL
        "gpmc2wishbone/readdata_bridge_8" BEL
        "gpmc2wishbone/readdata_bridge_7" BEL
        "gpmc2wishbone/readdata_bridge_6" BEL
        "gpmc2wishbone/readdata_bridge_5" BEL
        "gpmc2wishbone/readdata_bridge_4" BEL
        "gpmc2wishbone/readdata_bridge_3" BEL
        "gpmc2wishbone/readdata_bridge_2" BEL
        "gpmc2wishbone/readdata_bridge_1" BEL
        "gpmc2wishbone/readdata_bridge_0" BEL "camera0/y_data_7" BEL
        "camera0/y_data_6" BEL "camera0/y_data_5" BEL "camera0/y_data_4" BEL
        "camera0/y_data_3" BEL "camera0/y_data_2" BEL "camera0/y_data_1" BEL
        "camera0/y_data_0" BEL "camera0/pixel_clock_out_t" BEL
        "camera0/vsynct" BEL "camera0/hsynct" BEL "rst_gen/counter0_12" BEL
        "rst_gen/counter0_11" BEL "rst_gen/counter0_10" BEL
        "rst_gen/counter0_9" BEL "rst_gen/counter0_8" BEL "rst_gen/counter0_7"
        BEL "rst_gen/counter0_6" BEL "rst_gen/counter0_5" BEL
        "rst_gen/counter0_4" BEL "rst_gen/counter0_3" BEL "rst_gen/counter0_2"
        BEL "rst_gen/counter0_1" BEL "rst_gen/counter0_0" BEL
        "rst_gen/resetn_0" BEL "bi_fifo0/control_latched_15" BEL
        "bi_fifo0/control_latched_14" BEL "bi_fifo0/control_latched_13" BEL
        "bi_fifo0/control_latched_12" BEL "bi_fifo0/control_latched_11" BEL
        "bi_fifo0/control_latched_10" BEL "bi_fifo0/control_latched_9" BEL
        "bi_fifo0/control_latched_8" BEL "bi_fifo0/control_latched_7" BEL
        "bi_fifo0/control_latched_6" BEL "bi_fifo0/control_latched_5" BEL
        "bi_fifo0/control_latched_4" BEL "bi_fifo0/control_latched_3" BEL
        "bi_fifo0/control_latched_2" BEL "bi_fifo0/control_latched_1" BEL
        "bi_fifo0/control_latched_0" BEL "bi_fifo0/read_ack" BEL
        "bi_fifo0/write_ack" BEL "bi_fifo0/access_addr_old" BEL
        "bi_fifo0/fifo_A/wr_old" BEL "bi_fifo0/fifo_B/nb_available_t_13" BEL
        "bi_fifo0/fifo_B/nb_available_t_12" BEL
        "bi_fifo0/fifo_B/nb_available_t_11" BEL
        "bi_fifo0/fifo_B/nb_available_t_10" BEL
        "bi_fifo0/fifo_B/nb_available_t_9" BEL
        "bi_fifo0/fifo_B/nb_available_t_8" BEL
        "bi_fifo0/fifo_B/nb_available_t_7" BEL
        "bi_fifo0/fifo_B/nb_available_t_6" BEL
        "bi_fifo0/fifo_B/nb_available_t_5" BEL
        "bi_fifo0/fifo_B/nb_available_t_4" BEL
        "bi_fifo0/fifo_B/nb_available_t_3" BEL
        "bi_fifo0/fifo_B/nb_available_t_2" BEL
        "bi_fifo0/fifo_B/nb_available_t_1" BEL
        "bi_fifo0/fifo_B/nb_available_t_0" BEL "bi_fifo0/fifo_B/wr_addr_12"
        BEL "bi_fifo0/fifo_B/wr_addr_11" BEL "bi_fifo0/fifo_B/wr_addr_10" BEL
        "bi_fifo0/fifo_B/wr_addr_9" BEL "bi_fifo0/fifo_B/wr_addr_8" BEL
        "bi_fifo0/fifo_B/wr_addr_7" BEL "bi_fifo0/fifo_B/wr_addr_6" BEL
        "bi_fifo0/fifo_B/wr_addr_5" BEL "bi_fifo0/fifo_B/wr_addr_4" BEL
        "bi_fifo0/fifo_B/wr_addr_3" BEL "bi_fifo0/fifo_B/wr_addr_2" BEL
        "bi_fifo0/fifo_B/wr_addr_1" BEL "bi_fifo0/fifo_B/wr_addr_0" BEL
        "bi_fifo0/fifo_B/rd_addr_12" BEL "bi_fifo0/fifo_B/rd_addr_11" BEL
        "bi_fifo0/fifo_B/rd_addr_10" BEL "bi_fifo0/fifo_B/rd_addr_9" BEL
        "bi_fifo0/fifo_B/rd_addr_8" BEL "bi_fifo0/fifo_B/rd_addr_7" BEL
        "bi_fifo0/fifo_B/rd_addr_6" BEL "bi_fifo0/fifo_B/rd_addr_5" BEL
        "bi_fifo0/fifo_B/rd_addr_4" BEL "bi_fifo0/fifo_B/rd_addr_3" BEL
        "bi_fifo0/fifo_B/rd_addr_2" BEL "bi_fifo0/fifo_B/rd_addr_1" BEL
        "bi_fifo0/fifo_B/rd_addr_0" BEL "pix_to_fifo/pixel_buffer_15" BEL
        "pix_to_fifo/pixel_buffer_14" BEL "pix_to_fifo/pixel_buffer_13" BEL
        "pix_to_fifo/pixel_buffer_12" BEL "pix_to_fifo/pixel_buffer_11" BEL
        "pix_to_fifo/pixel_buffer_10" BEL "pix_to_fifo/pixel_buffer_9" BEL
        "pix_to_fifo/pixel_buffer_8" BEL "pix_to_fifo/pixel_buffer_7" BEL
        "pix_to_fifo/pixel_buffer_6" BEL "pix_to_fifo/pixel_buffer_5" BEL
        "pix_to_fifo/pixel_buffer_4" BEL "pix_to_fifo/pixel_buffer_3" BEL
        "pix_to_fifo/pixel_buffer_2" BEL "pix_to_fifo/pixel_buffer_1" BEL
        "pix_to_fifo/pixel_buffer_0" BEL "pix_to_fifo/write_pixel_old" BEL
        "pix_to_fifo/vsync_old" BEL "pix_to_fifo/pxclk_old" BEL
        "pix_to_fifo/hsync_old" BEL "bi_fifo0/data_access" BEL
        "pix_to_fifo/pixel_count_0" BEL "bi_fifo0/fifo_A/nb_available_t_13"
        BEL "bi_fifo0/fifo_A/nb_available_t_12" BEL
        "bi_fifo0/fifo_A/nb_available_t_11" BEL
        "bi_fifo0/fifo_A/nb_available_t_10" BEL
        "bi_fifo0/fifo_A/nb_available_t_9" BEL
        "bi_fifo0/fifo_A/nb_available_t_8" BEL
        "bi_fifo0/fifo_A/nb_available_t_7" BEL
        "bi_fifo0/fifo_A/nb_available_t_6" BEL
        "bi_fifo0/fifo_A/nb_available_t_5" BEL
        "bi_fifo0/fifo_A/nb_available_t_4" BEL
        "bi_fifo0/fifo_A/nb_available_t_3" BEL
        "bi_fifo0/fifo_A/nb_available_t_2" BEL
        "bi_fifo0/fifo_A/nb_available_t_1" BEL
        "bi_fifo0/fifo_A/nb_available_t_0" BEL "gpmc2wishbone/address_0_1" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<27>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<27>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<27>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<27>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<27>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<27>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<27>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<26>" PIN
        "bi_fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<27>" PIN
        "conf_rom/Mram_rom_pins<9>";
TIMEGRP clk100_grp = BEL "gpmc2wishbone/address_bridge_15" BEL
        "gpmc2wishbone/address_bridge_14" BEL
        "gpmc2wishbone/address_bridge_13" BEL
        "gpmc2wishbone/address_bridge_12" BEL
        "gpmc2wishbone/address_bridge_11" BEL
        "gpmc2wishbone/address_bridge_10" BEL "gpmc2wishbone/address_bridge_9"
        BEL "gpmc2wishbone/address_bridge_8" BEL
        "gpmc2wishbone/address_bridge_7" BEL "gpmc2wishbone/address_bridge_6"
        BEL "gpmc2wishbone/address_bridge_5" BEL
        "gpmc2wishbone/address_bridge_4" BEL "gpmc2wishbone/address_bridge_3"
        BEL "gpmc2wishbone/address_bridge_2" BEL
        "gpmc2wishbone/address_bridge_1" BEL "gpmc2wishbone/address_bridge_0"
        BEL "gpmc2wishbone/burst_counter_16" BEL
        "gpmc2wishbone/burst_counter_15" BEL "gpmc2wishbone/burst_counter_14"
        BEL "gpmc2wishbone/burst_counter_13" BEL
        "gpmc2wishbone/burst_counter_12" BEL "gpmc2wishbone/burst_counter_11"
        BEL "gpmc2wishbone/burst_counter_10" BEL
        "gpmc2wishbone/burst_counter_9" BEL "gpmc2wishbone/burst_counter_8"
        BEL "gpmc2wishbone/burst_counter_7" BEL
        "gpmc2wishbone/burst_counter_6" BEL "gpmc2wishbone/burst_counter_5"
        BEL "gpmc2wishbone/burst_counter_4" BEL
        "gpmc2wishbone/burst_counter_3" BEL "gpmc2wishbone/burst_counter_2"
        BEL "gpmc2wishbone/burst_counter_1" BEL
        "gpmc2wishbone/burst_counter_0" BEL "GPMC_CLK_BUFGP/BUFG" BEL
        "gpmc2wishbone/readdata_15" BEL "gpmc2wishbone/readdata_14" BEL
        "gpmc2wishbone/readdata_13" BEL "gpmc2wishbone/readdata_12" BEL
        "gpmc2wishbone/readdata_11" BEL "gpmc2wishbone/readdata_10" BEL
        "gpmc2wishbone/readdata_9" BEL "gpmc2wishbone/readdata_8" BEL
        "gpmc2wishbone/readdata_7" BEL "gpmc2wishbone/readdata_6" BEL
        "gpmc2wishbone/readdata_5" BEL "gpmc2wishbone/readdata_4" BEL
        "gpmc2wishbone/readdata_3" BEL "gpmc2wishbone/readdata_2" BEL
        "gpmc2wishbone/readdata_1" BEL "gpmc2wishbone/readdata_0" BEL
        "gpmc2wishbone/csn_bridge" BEL "gpmc2wishbone/oen_bridge" BEL
        "gpmc2wishbone/wen_bridge";
TIMEGRP sys_clocks_gen_clkout1 = BEL "camera_conf_block/reg_addr_temp_7" BEL
        "camera_conf_block/reg_addr_temp_6" BEL
        "camera_conf_block/reg_addr_temp_5" BEL
        "camera_conf_block/reg_addr_temp_4" BEL
        "camera_conf_block/reg_addr_temp_3" BEL
        "camera_conf_block/reg_addr_temp_2" BEL
        "camera_conf_block/reg_addr_temp_1" BEL
        "camera_conf_block/reg_addr_temp_0" BEL
        "camera_conf_block/reg_state_FSM_FFd1" BEL
        "camera_conf_block/reg_state_FSM_FFd2" BEL
        "camera_conf_block/reg_state_FSM_FFd3" BEL
        "camera_conf_block/i2c_data_7" BEL "camera_conf_block/i2c_data_6" BEL
        "camera_conf_block/i2c_data_5" BEL "camera_conf_block/i2c_data_4" BEL
        "camera_conf_block/i2c_data_3" BEL "camera_conf_block/i2c_data_2" BEL
        "camera_conf_block/i2c_data_1" BEL "camera_conf_block/i2c_data_0" BEL
        "camera_conf_block/send" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd1" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd2" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd4" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd3" BEL
        "camera_conf_block/i2c_master0/data_i_7" BEL
        "camera_conf_block/i2c_master0/data_i_6" BEL
        "camera_conf_block/i2c_master0/data_i_5" BEL
        "camera_conf_block/i2c_master0/data_i_4" BEL
        "camera_conf_block/i2c_master0/data_i_3" BEL
        "camera_conf_block/i2c_master0/data_i_2" BEL
        "camera_conf_block/i2c_master0/data_i_1" BEL
        "camera_conf_block/i2c_master0/data_i_0" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_7" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_6" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_5" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_4" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_3" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_2" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_1" BEL
        "camera_conf_block/i2c_master0/ack_byte" BEL
        "camera_conf_block/i2c_master0/tick_count_6" BEL
        "camera_conf_block/i2c_master0/tick_count_5" BEL
        "camera_conf_block/i2c_master0/tick_count_4" BEL
        "camera_conf_block/i2c_master0/tick_count_3" BEL
        "camera_conf_block/i2c_master0/tick_count_2" BEL
        "camera_conf_block/i2c_master0/tick_count_1" BEL
        "camera_conf_block/i2c_master0/tick_count_0" BEL
        "camera_conf_block/i2c_master0/bit_count_3" BEL
        "camera_conf_block/i2c_master0/bit_count_2" BEL
        "camera_conf_block/i2c_master0/bit_count_1" BEL
        "camera_conf_block/i2c_master0/bit_count_0" BEL
        "camera_conf_block/i2c_master0/state[3]_clock_DFF_123" BEL
        "camera_conf_block/i2c_master0/state[3]_clock_DFF_124" BEL
        "camera_conf_block/i2c_master0/nack_byte" BEL
        "camera_conf_block/i2c_master0/dispo" BEL
        "camera_conf_block/i2c_master0/send_rvcb" BEL
        "camera_conf_block/temp_counter/Qp_9" BEL
        "camera_conf_block/temp_counter/Qp_8" BEL
        "camera_conf_block/temp_counter/Qp_7" BEL
        "camera_conf_block/temp_counter/Qp_6" BEL
        "camera_conf_block/temp_counter/Qp_5" BEL
        "camera_conf_block/temp_counter/Qp_4" BEL
        "camera_conf_block/temp_counter/Qp_3" BEL
        "camera_conf_block/temp_counter/Qp_2" BEL
        "camera_conf_block/temp_counter/Qp_1" BEL
        "camera_conf_block/temp_counter/Qp_0" BEL
        "camera_conf_block/i2c_master0/scl" BEL
        "camera_conf_block/i2c_master0/sda" BEL "PMOD2<3>" BEL
        "sys_clocks_gen/clkout2_buf";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN sys_clocks_gen/pll_base_inst/PLL_ADV_pins<2> = BEL
        "sys_clocks_gen/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP clk50_grp = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "sys_clocks_gen/pll_base_inst/PLL_ADV_pins<2>";
TS_PER_CLK50 = PERIOD TIMEGRP "clk50_grp" 20 ns HIGH 50%;
TS_PER_CLK100 = PERIOD TIMEGRP "clk100_grp" 20 ns HIGH 50%;
TS_sys_clocks_gen_clkout1 = PERIOD TIMEGRP "sys_clocks_gen_clkout1"
        TS_PER_CLK50 / 0.48 HIGH 50%;
TS_sys_clocks_gen_clkout0 = PERIOD TIMEGRP "sys_clocks_gen_clkout0"
        TS_PER_CLK50 / 2 HIGH 50%;
SCHEMATIC END;

