######################################################
######################################################
## These constraints are for LOGi-Pi RA2 FPGA Shield##
######################################################
######################################################

######################
# Timing Constraints #
######################

##### Grouping Constraints #####
NET OSC_FPGA TNM_NET = clk50_grp;
##NET DRAM_CLK TNM_NET = clk100_grp;
#NET SYS_SPI_SCK TNM_NET = clk32_grp;

##### Clock Period Constraints #####
TIMESPEC TS_PER_CLK50 = PERIOD "clk50_grp" 20.0 ns ;
#TIMESPEC TS_PER_CLK100 = PERIOD "clk100_grp" 10.0 ns;
TIMESPEC TS_PER_CLK32 = PERIOD "clk32_grp" 20.0 ns;
##PIN "sys_clocks_gen/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "SYS_SPI_SCK" CLOCK_DEDICATED_ROUTE = FALSE;

#######################
# Pin LOC Constraints #
######################
NET "OSC_FPGA"      LOC = "P124";

NET "LED<0>"        LOC = "P58";		#SHARED WITH ARD_D6
NET "LED<1>"        LOC = "P59";		#SHARED WITH ARD_D7

NET "SYS_TX" LOC= "P51" ;			#Shared with Arduino TX
NET "SYS_RX" LOC= "P50" ;

NET "PB<0>"        LOC = "P67";
NET "PB<1>"        LOC = "P61";

##Peripherals#############################################################
#NET "LED<0>"        LOC = "P58";		#SHARED WITH ARD_D6
#NET "LED<1>"        LOC = "P59";		#SHARED WITH ARD_D7
#NET "PB<0>"        LOC = "P67";
#NET "PB<1>"        LOC = "P61";
#NET "SW<0>"        LOC = "P40";
#NET "SW<1>"        LOC = "P41";
#
#
##SATA###########################################################################
#NET "SATA_D1_P"	LOC = "P79";
#NET "SATA_D1_N"	LOC = "P78";
#NET "SATA_D2_P"	LOC = "P75";
#NET "SATA_D2_N"	LOC = "P74";
#
##SDRAM#########################################################################
#NET "DRAM_CKE"	LOC = "P24"		| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
#NET "DRAM_CLK"	LOC = "P23"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
#NET "DRAM_CAS_N"	LOC = "P143"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
#NET "DRAM_RAS_N"	LOC = "P142"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
#NET "DRAM_WE_N"	LOC = "P144"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
##NET "DRAM_CS_N" #CS IS PULLED LOW TO SAVE ON PIN COUNT - Can be pulled high with solder jumper on bottom of board
#NET "DRAM_BA<0>"	LOC = "P141"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
#NET "DRAM_BA<1>"	LOC = "P1"		| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
#NET "DRAM_DQM<0>" LOC = "P139"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
#NET "DRAM_DQM<1>" LOC = "P22"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<0>"	LOC = "P5"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<1>"	LOC = "P6"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<2>"	LOC = "P7"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<3>"	LOC = "P8"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<4>"	LOC = "P35"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<5>"	LOC = "P34"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<6>"	LOC = "P33"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<7>"	LOC = "P32"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<8>"	LOC = "P30"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<9>"	LOC = "P29"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<10>"	LOC = "P2"		| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;		
#NET "DRAM_ADDR<11>"	LOC = "P27"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_ADDR<12>"	LOC = "P26"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;		
#NET "DRAM_DQ<0>" LOC = "P126"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<1>" LOC = "P127"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<2>" LOC = "P131"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<3>" LOC = "P132"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<4>" LOC = "P133"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<5>" LOC = "P134"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<6>" LOC = "P137"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<7>" LOC = "P138"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<8>" LOC = "P17"		| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<9>" LOC = "P16"		| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<10>" LOC = "P15"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<11>" LOC = "P14"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<12>" LOC = "P12"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<13>" LOC = "P11"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;		
#NET "DRAM_DQ<14>" LOC = "P10"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#NET "DRAM_DQ<15>" LOC = "P9"	| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;	
#
#
##PMOD1#############################################################################
#NET "PMOD1_1" LOC = "P121" ;
#NET "PMOD1_2" LOC = "P119" ;
#NET "PMOD1_3" LOC = "P101" ;
#NET "PMOD1_4" LOC = "P116" ;
#NET "PMOD1_7" LOC = "P120" ;
#NET "PMOD1_8" LOC = "P118" ;
#NET "PMOD1_9" LOC = "P117" ;
#NET "PMOD1_10" LOC = "P115" ;
##PMOD2#############################################################################
#NET "PMOD2_1" LOC = "P114" ;
#NET "PMOD2_2" LOC = "P111" ;
#NET "PMOD2_3" LOC = "P123" ;
#NET "PMOD2_4" LOC = "P102" ;
#NET "PMOD2_7" LOC = "P112" ;
#NET "PMOD2_8" LOC = "P62" ;
#NET "PMOD2_9" LOC = "P105" ;
#NET "PMOD2_10" LOC = "P104" ;
##PMOD3#############################################################################
#NET "PMOD3_1" LOC = "P98" ;
#NET "PMOD3_2" LOC = "P97" ;
#NET "PMOD3_3" LOC = "P93" ;
#NET "PMOD3_4" LOC = "P92" ;
#NET "PMOD3_7" LOC = "P100" ;
#NET "PMOD3_8" LOC = "P99" ;
#NET "PMOD3_9" LOC = "P95" ;
#NET "PMOD3_10" LOC = "P94" ;
##PMOD4#############################################################################
#NET "PMOD4_1" LOC = "P85" ;
#NET "PMOD4_2" LOC = "P84" ;
#NET "PMOD4_3" LOC = "P81" ;
#NET "PMOD4_4" LOC = "P80" ;
#NET "PMOD4_7" LOC = "P88" ;
#NET "PMOD4_8" LOC = "P87" ;
#NET "PMOD4_9" LOC = "P83" ;
#NET "PMOD4_10" LOC = "P82" ;
#
##RASPBERRY-PI CONNECTOR###############################################################
#NET "SYS_SPI_MOSI" LOC = "P65";	#Shared - Used to clk bitstream data to fpga / ARduino MOSI
#NET "SYS_SPI_MISO" LOC = "P66";
#NET "SYS_SPI_SCK" LOC = "P70";	#Shared - Used to clk bitstream data to fpga / ARduino SCK
#NET "RP_SPI_CE0N" LOC = "P44";
#NET "RP_SPI_CE1N" LOC = "P43";
#NET "SYS_SDA" LOC = "P57";			#Shared with Arduino SDA
#NET "SYS_SCL" LOC = "P56";			#Shared with Arduino SCL
#NET "SYS_TX" LOC= "P51" ;			#Shared with Arduino TX
#NET "SYS_RX" LOC= "P50" ;			#Shared with Arduino RX
#NET "RP_GPIO_GCLK" LOC = "P55";
#NET "RP_GPIO_GEN2" LOC = "P46";
#NET "RP_GPIO_GEN3" LOC = "P45";
#
##ARDUINO HEADERS########################################################################
##SYS_SCL	#Shared wtih RPI i2c		
##SYS_SDA	#Shared wtih RPI i2c													
#NET "ARD_SCK" LOC= "P47";				#D13
#NET "ARD_MISO" LOC= "P48";				#D12
#NET "ARD_MOSI" LOC= "P140";			#D11
#NET "ARD_SS" LOC= "P21";				#D10
#NET "ARD_D9_FLSH_DI" LOC= "P64";		#D9
#NET "ARD_D8_FLSH_CS" LOC= "P38";		#D8
#
#									#D8
##LED1								#D7
##LED0								#D6
##PMOD1_10						#D5
##PMOD1_9							#D4
##PMOD1_8							#D3
##PMOD1_7							#D2
#NET "ARD_TX" LOC = "P41";  #D1
#NET "ARD_RX" LOC = "P40";	#D0



