######################################################
######################################################
## UCF Constraints file                             ##
######################################################
######################################################

######################
# Timing Constraints #
######################

##### Grouping Constraints #####
NET OSC_FPGA TNM_NET = clk50_grp;

##### Clock Period Constraints #####
TIMESPEC TS_PER_CLK50 = PERIOD "clk50_grp" 20.0 ns;

#######################
# Pin LOC Constraints #
######################

NET LED<0>        LOC = "P140"  ;
NET LED<1>        LOC = "P74"  ; 
NET OSC_FPGA      LOC = "P85"  ;

