//! **************************************************************************
// Written by: Map P.15xf on Sun Mar 30 16:27:30 2014
//! **************************************************************************

SCHEMATIC START;
COMP "OSC_FPGA" LOCATE = SITE "P85" LEVEL 1;
COMP "SYS_SDA" LOCATE = SITE "P98" LEVEL 1;
COMP "SYS_SCL" LOCATE = SITE "P97" LEVEL 1;
COMP "PB<0>" LOCATE = SITE "P102" LEVEL 1;
COMP "PB<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "SYS_SPI_SCK" LOCATE = SITE "P70" LEVEL 1;
PIN SYS_SPI_SCK_pin<0> = BEL "SYS_SPI_SCK" PINNAME PAD;
PIN "SYS_SPI_SCK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED<0>" LOCATE = SITE "P105" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "SYS_SPI_MISO" LOCATE = SITE "P75" LEVEL 1;
COMP "SYS_SPI_MOSI" LOCATE = SITE "P65" LEVEL 1;
COMP "PMOD3<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "PMOD3<1>" LOCATE = SITE "P137" LEVEL 1;
COMP "PMOD3<2>" LOCATE = SITE "P124" LEVEL 1;
COMP "PMOD3<3>" LOCATE = SITE "P123" LEVEL 1;
COMP "PMOD4<0>" LOCATE = SITE "P112" LEVEL 1;
COMP "PMOD3<4>" LOCATE = SITE "P119" LEVEL 1;
COMP "PMOD4<1>" LOCATE = SITE "P111" LEVEL 1;
COMP "PMOD3<5>" LOCATE = SITE "P118" LEVEL 1;
COMP "PMOD3<6>" LOCATE = SITE "P117" LEVEL 1;
COMP "PMOD4<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "PMOD4<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "PMOD3<7>" LOCATE = SITE "P116" LEVEL 1;
COMP "PMOD4<4>" LOCATE = SITE "P115" LEVEL 1;
COMP "PMOD4<5>" LOCATE = SITE "P114" LEVEL 1;
COMP "PMOD4<6>" LOCATE = SITE "P134" LEVEL 1;
COMP "PMOD4<7>" LOCATE = SITE "P133" LEVEL 1;
COMP "RP_SPI_CE0N" LOCATE = SITE "P79" LEVEL 1;
PIN sys_clocks_gen/clkout3_buf_pin<1> = BEL "sys_clocks_gen/clkout3_buf"
        PINNAME O;
PIN "sys_clocks_gen/clkout3_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM8" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM8" PINNAME CLKB;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM7" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM7" PINNAME CLKB;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM6" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM6" PINNAME CLKB;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM5" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM5" PINNAME CLKB;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM4" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM4" PINNAME CLKB;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM3" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM3" PINNAME CLKB;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM2" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM2" PINNAME CLKB;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<26> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM1" PINNAME CLKA;
PIN fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<27> = BEL
        "fifo0/fifo_B/dp_ram0/Mram_RAM1" PINNAME CLKB;
PIN ds_image/line_ram0/Mram_RAM_pins<18> = BEL "ds_image/line_ram0/Mram_RAM"
        PINNAME CLKAWRCLK;
PIN ds_image/line_ram0/Mram_RAM_pins<19> = BEL "ds_image/line_ram0/Mram_RAM"
        PINNAME CLKBRDCLK;
TIMEGRP sys_clocks_gen_clkout1 = BEL "sys_clocks_gen/clkout2_buf" BEL
        "camera0/v_data_7" BEL "camera0/v_data_6" BEL "camera0/v_data_5" BEL
        "camera0/v_data_4" BEL "camera0/v_data_3" BEL "camera0/v_data_2" BEL
        "camera0/v_data_1" BEL "camera0/v_data_0" BEL "camera0/u_data_7" BEL
        "camera0/u_data_6" BEL "camera0/u_data_5" BEL "camera0/u_data_4" BEL
        "camera0/u_data_3" BEL "camera0/u_data_2" BEL "camera0/u_data_1" BEL
        "camera0/u_data_0" BEL "camera0/y_data_7" BEL "camera0/y_data_6" BEL
        "camera0/y_data_5" BEL "camera0/y_data_4" BEL "camera0/y_data_3" BEL
        "camera0/y_data_2" BEL "camera0/y_data_1" BEL "camera0/y_data_0" BEL
        "camera0/pixel_clock_out_t" BEL "camera0/vsynct" BEL "camera0/hsynct"
        BEL "mem_interface0/write" BEL "mem_interface0/strobe" BEL
        "reset0/counter0_12" BEL "reset0/counter0_11" BEL "reset0/counter0_10"
        BEL "reset0/counter0_9" BEL "reset0/counter0_8" BEL
        "reset0/counter0_7" BEL "reset0/counter0_6" BEL "reset0/counter0_5"
        BEL "reset0/counter0_4" BEL "reset0/counter0_3" BEL
        "reset0/counter0_2" BEL "reset0/counter0_1" BEL "reset0/counter0_0"
        BEL "reset0/resetn_0" BEL "fifo0/control_latched_15" BEL
        "fifo0/control_latched_14" BEL "fifo0/control_latched_13" BEL
        "fifo0/control_latched_12" BEL "fifo0/control_latched_11" BEL
        "fifo0/control_latched_10" BEL "fifo0/control_latched_9" BEL
        "fifo0/control_latched_8" BEL "fifo0/control_latched_7" BEL
        "fifo0/control_latched_6" BEL "fifo0/control_latched_5" BEL
        "fifo0/control_latched_4" BEL "fifo0/control_latched_3" BEL
        "fifo0/control_latched_2" BEL "fifo0/control_latched_1" BEL
        "fifo0/control_latched_0" BEL "fifo0/fifo_A/nb_available_t_13" BEL
        "fifo0/fifo_A/nb_available_t_12" BEL "fifo0/fifo_A/nb_available_t_11"
        BEL "fifo0/fifo_A/nb_available_t_10" BEL
        "fifo0/fifo_A/nb_available_t_9" BEL "fifo0/fifo_A/nb_available_t_8"
        BEL "fifo0/fifo_A/nb_available_t_7" BEL
        "fifo0/fifo_A/nb_available_t_6" BEL "fifo0/fifo_A/nb_available_t_5"
        BEL "fifo0/fifo_A/nb_available_t_4" BEL
        "fifo0/fifo_A/nb_available_t_3" BEL "fifo0/fifo_A/nb_available_t_2"
        BEL "fifo0/fifo_A/nb_available_t_1" BEL
        "fifo0/fifo_A/nb_available_t_0" BEL "fifo0/fifo_A/wr_old" BEL
        "fifo0/fifo_B/nb_available_t_13" BEL "fifo0/fifo_B/nb_available_t_12"
        BEL "fifo0/fifo_B/nb_available_t_11" BEL
        "fifo0/fifo_B/nb_available_t_10" BEL "fifo0/fifo_B/nb_available_t_9"
        BEL "fifo0/fifo_B/nb_available_t_8" BEL
        "fifo0/fifo_B/nb_available_t_7" BEL "fifo0/fifo_B/nb_available_t_6"
        BEL "fifo0/fifo_B/nb_available_t_5" BEL
        "fifo0/fifo_B/nb_available_t_4" BEL "fifo0/fifo_B/nb_available_t_3"
        BEL "fifo0/fifo_B/nb_available_t_2" BEL
        "fifo0/fifo_B/nb_available_t_1" BEL "fifo0/fifo_B/nb_available_t_0"
        BEL "fifo0/fifo_B/wr_addr_12" BEL "fifo0/fifo_B/wr_addr_11" BEL
        "fifo0/fifo_B/wr_addr_10" BEL "fifo0/fifo_B/wr_addr_9" BEL
        "fifo0/fifo_B/wr_addr_8" BEL "fifo0/fifo_B/wr_addr_7" BEL
        "fifo0/fifo_B/wr_addr_6" BEL "fifo0/fifo_B/wr_addr_5" BEL
        "fifo0/fifo_B/wr_addr_4" BEL "fifo0/fifo_B/wr_addr_3" BEL
        "fifo0/fifo_B/wr_addr_2" BEL "fifo0/fifo_B/wr_addr_1" BEL
        "fifo0/fifo_B/wr_addr_0" BEL "fifo0/fifo_B/rd_addr_12" BEL
        "fifo0/fifo_B/rd_addr_11" BEL "fifo0/fifo_B/rd_addr_10" BEL
        "fifo0/fifo_B/rd_addr_9" BEL "fifo0/fifo_B/rd_addr_8" BEL
        "fifo0/fifo_B/rd_addr_7" BEL "fifo0/fifo_B/rd_addr_6" BEL
        "fifo0/fifo_B/rd_addr_5" BEL "fifo0/fifo_B/rd_addr_4" BEL
        "fifo0/fifo_B/rd_addr_3" BEL "fifo0/fifo_B/rd_addr_2" BEL
        "fifo0/fifo_B/rd_addr_1" BEL "fifo0/fifo_B/rd_addr_0" BEL
        "fifo0/fifo_B/rd_old" BEL "ds_image/pixel_counter_8" BEL
        "ds_image/pixel_counter_7" BEL "ds_image/pixel_counter_6" BEL
        "ds_image/pixel_counter_5" BEL "ds_image/pixel_counter_4" BEL
        "ds_image/pixel_counter_3" BEL "ds_image/pixel_counter_2" BEL
        "ds_image/pixel_counter_1" BEL "ds_image/pixel_counter_0" BEL
        "ds_image/pixel_data_out_7" BEL "ds_image/pixel_data_out_6" BEL
        "ds_image/pixel_data_out_5" BEL "ds_image/pixel_data_out_4" BEL
        "ds_image/pixel_data_out_3" BEL "ds_image/pixel_data_out_2" BEL
        "ds_image/pixel_data_out_1" BEL "ds_image/pixel_data_out_0" BEL
        "ds_image/vsync_out" BEL "ds_image/vsync_old" BEL "ds_image/pxclk_old"
        BEL "ds_image/hsync_old" BEL "pixel_to_fifo/pxclk_old" BEL
        "pixel_to_fifo/vsync_old" BEL "ds_image/line_counter_0" BEL
        "pixel_to_fifo/pixel_count_0" BEL "pixel_to_fifo/enabled" BEL
        "ds_image/hsync_out" BEL "ds_image/vsync_out_1" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM8_pins<27>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM7_pins<27>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM6_pins<27>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM5_pins<27>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM4_pins<27>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM3_pins<27>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM2_pins<27>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<26>" PIN
        "fifo0/fifo_B/dp_ram0/Mram_RAM1_pins<27>" PIN
        "ds_image/line_ram0/Mram_RAM_pins<18>" PIN
        "ds_image/line_ram0/Mram_RAM_pins<19>";
PIN conf_rom/Mram_rom_pins<9> = BEL "conf_rom/Mram_rom" PINNAME CLKAWRCLK;
TIMEGRP sys_clocks_gen_clkout2 = BEL "camera_conf_block/reg_addr_temp_7" BEL
        "camera_conf_block/reg_addr_temp_6" BEL
        "camera_conf_block/reg_addr_temp_5" BEL
        "camera_conf_block/reg_addr_temp_4" BEL
        "camera_conf_block/reg_addr_temp_3" BEL
        "camera_conf_block/reg_addr_temp_2" BEL
        "camera_conf_block/reg_addr_temp_1" BEL
        "camera_conf_block/reg_addr_temp_0" BEL
        "camera_conf_block/reg_state_FSM_FFd1" BEL
        "camera_conf_block/reg_state_FSM_FFd2" BEL
        "camera_conf_block/reg_state_FSM_FFd3" BEL "camera_conf_block/send"
        BEL "camera_conf_block/i2c_master0/state_FSM_FFd1" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd2" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd4" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd3" BEL
        "camera_conf_block/i2c_master0/data_i_7" BEL
        "camera_conf_block/i2c_master0/data_i_6" BEL
        "camera_conf_block/i2c_master0/data_i_5" BEL
        "camera_conf_block/i2c_master0/data_i_4" BEL
        "camera_conf_block/i2c_master0/data_i_3" BEL
        "camera_conf_block/i2c_master0/data_i_2" BEL
        "camera_conf_block/i2c_master0/data_i_1" BEL
        "camera_conf_block/i2c_master0/data_i_0" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_7" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_6" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_5" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_4" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_3" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_2" BEL
        "camera_conf_block/i2c_master0/slave_addr_i_1" BEL
        "camera_conf_block/i2c_master0/ack_byte" BEL
        "camera_conf_block/i2c_master0/tick_count_6" BEL
        "camera_conf_block/i2c_master0/tick_count_5" BEL
        "camera_conf_block/i2c_master0/tick_count_4" BEL
        "camera_conf_block/i2c_master0/tick_count_3" BEL
        "camera_conf_block/i2c_master0/tick_count_2" BEL
        "camera_conf_block/i2c_master0/tick_count_1" BEL
        "camera_conf_block/i2c_master0/tick_count_0" BEL
        "camera_conf_block/i2c_master0/bit_count_3" BEL
        "camera_conf_block/i2c_master0/bit_count_2" BEL
        "camera_conf_block/i2c_master0/bit_count_1" BEL
        "camera_conf_block/i2c_master0/bit_count_0" BEL
        "camera_conf_block/i2c_master0/state[3]_clock_DFF_107" BEL
        "camera_conf_block/i2c_master0/state[3]_clock_DFF_108" BEL
        "camera_conf_block/i2c_master0/nack_byte" BEL
        "camera_conf_block/i2c_master0/dispo" BEL
        "camera_conf_block/i2c_master0/send_rvcb" BEL
        "camera_conf_block/i2c_data_7" BEL "camera_conf_block/i2c_data_6" BEL
        "camera_conf_block/i2c_data_5" BEL "camera_conf_block/i2c_data_4" BEL
        "camera_conf_block/i2c_data_3" BEL "camera_conf_block/i2c_data_2" BEL
        "camera_conf_block/i2c_data_1" BEL "camera_conf_block/i2c_data_0" BEL
        "camera_conf_block/temp_counter/Qp_9" BEL
        "camera_conf_block/temp_counter/Qp_8" BEL
        "camera_conf_block/temp_counter/Qp_7" BEL
        "camera_conf_block/temp_counter/Qp_6" BEL
        "camera_conf_block/temp_counter/Qp_5" BEL
        "camera_conf_block/temp_counter/Qp_4" BEL
        "camera_conf_block/temp_counter/Qp_3" BEL
        "camera_conf_block/temp_counter/Qp_2" BEL
        "camera_conf_block/temp_counter/Qp_1" BEL
        "camera_conf_block/temp_counter/Qp_0" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd3_1" BEL
        "camera_conf_block/i2c_master0/state_FSM_FFd2_1" BEL
        "camera_conf_block/i2c_master0/scl" BEL
        "camera_conf_block/i2c_master0/sda" PIN "conf_rom/Mram_rom_pins<9>"
        BEL "PMOD4<3>" BEL "sys_clocks_gen/clkout3_buf";
TIMEGRP clk32_grp = BEL "mem_interface0/bit_count_3" BEL
        "mem_interface0/bit_count_2" BEL "mem_interface0/bit_count_1" BEL
        "mem_interface0/bit_count_0" BEL "mem_interface0/addr_bus_latched_15"
        BEL "mem_interface0/addr_bus_latched_14" BEL
        "mem_interface0/addr_bus_latched_13" BEL
        "mem_interface0/addr_bus_latched_12" BEL
        "mem_interface0/addr_bus_latched_11" BEL
        "mem_interface0/addr_bus_latched_10" BEL
        "mem_interface0/addr_bus_latched_9" BEL
        "mem_interface0/addr_bus_latched_8" BEL
        "mem_interface0/addr_bus_latched_7" BEL
        "mem_interface0/addr_bus_latched_6" BEL
        "mem_interface0/addr_bus_latched_5" BEL
        "mem_interface0/addr_bus_latched_4" BEL
        "mem_interface0/addr_bus_latched_3" BEL
        "mem_interface0/addr_bus_latched_2" BEL
        "mem_interface0/addr_bus_latched_1" BEL
        "mem_interface0/addr_bus_latched_0" BEL "mem_interface0/auto_inc" BEL
        "mem_interface0/data_out_sr_15" BEL "mem_interface0/data_out_sr_14"
        BEL "mem_interface0/data_out_sr_13" BEL
        "mem_interface0/data_out_sr_12" BEL "mem_interface0/data_out_sr_11"
        BEL "mem_interface0/data_out_sr_10" BEL "mem_interface0/data_out_sr_9"
        BEL "mem_interface0/data_out_sr_8" BEL "mem_interface0/data_out_sr_7"
        BEL "mem_interface0/data_out_sr_6" BEL "mem_interface0/data_out_sr_5"
        BEL "mem_interface0/data_out_sr_4" BEL "mem_interface0/data_out_sr_3"
        BEL "mem_interface0/data_out_sr_2" BEL "mem_interface0/data_out_sr_1"
        BEL "mem_interface0/data_confn" BEL "mem_interface0/rd_latched" BEL
        "mem_interface0/wr_latched" BEL "mem_interface0/rd_wrn" BEL
        "mem_interface0/data_in_sr_14" BEL "mem_interface0/data_in_sr_13" BEL
        "mem_interface0/data_in_sr_12" BEL "mem_interface0/data_in_sr_11" BEL
        "mem_interface0/data_in_sr_10" BEL "mem_interface0/data_in_sr_9" BEL
        "mem_interface0/data_in_sr_8" BEL "mem_interface0/data_in_sr_7" BEL
        "mem_interface0/data_in_sr_6" BEL "mem_interface0/data_in_sr_5" BEL
        "mem_interface0/data_in_sr_4" BEL "mem_interface0/data_in_sr_3" BEL
        "mem_interface0/data_in_sr_2" BEL "mem_interface0/data_in_sr_1" BEL
        "mem_interface0/data_in_sr_0" BEL "mem_interface0/data_byte" BEL
        "SYS_SPI_SCK_BUFGP/BUFG";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN sys_clocks_gen/pll_base_inst/PLL_ADV_pins<2> = BEL
        "sys_clocks_gen/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP clk50_grp = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "sys_clocks_gen/pll_base_inst/PLL_ADV_pins<2>";
TS_PER_CLK50 = PERIOD TIMEGRP "clk50_grp" 20 ns HIGH 50%;
TS_PER_CLK32 = PERIOD TIMEGRP "clk32_grp" 20 ns HIGH 50%;
TS_sys_clocks_gen_clkout1 = PERIOD TIMEGRP "sys_clocks_gen_clkout1"
        TS_PER_CLK50 / 2 HIGH 50%;
TS_sys_clocks_gen_clkout2 = PERIOD TIMEGRP "sys_clocks_gen_clkout2"
        TS_PER_CLK50 / 0.48 HIGH 50%;
SCHEMATIC END;

