//! **************************************************************************
// Written by: Map P.49d on Sat Apr 13 18:44:08 2013
//! **************************************************************************

SCHEMATIC START;
COMP "btn<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "clk" LOCATE = SITE "P55" LEVEL 1;
COMP "reset" LOCATE = SITE "P51" LEVEL 1;
TIMEGRP clk = BEL "db_reg" BEL "db_unit/q_reg_0" BEL "db_unit/q_reg_1" BEL
        "db_unit/q_reg_2" BEL "db_unit/q_reg_3" BEL "db_unit/q_reg_4" BEL
        "db_unit/q_reg_5" BEL "db_unit/q_reg_6" BEL "db_unit/q_reg_7" BEL
        "db_unit/q_reg_8" BEL "db_unit/q_reg_9" BEL "db_unit/q_reg_10" BEL
        "db_unit/q_reg_11" BEL "db_unit/q_reg_12" BEL "db_unit/q_reg_13" BEL
        "db_unit/q_reg_14" BEL "db_unit/q_reg_15" BEL "db_unit/q_reg_16" BEL
        "db_unit/q_reg_17" BEL "db_unit/q_reg_18" BEL
        "db_unit/state_reg_FSM_FFd1" BEL "db_unit/state_reg_FSM_FFd3" BEL
        "db_unit/state_reg_FSM_FFd2" BEL "disp_unit/q_reg_0" BEL
        "disp_unit/q_reg_1" BEL "disp_unit/q_reg_2" BEL "disp_unit/q_reg_3"
        BEL "disp_unit/q_reg_4" BEL "disp_unit/q_reg_5" BEL
        "disp_unit/q_reg_6" BEL "disp_unit/q_reg_7" BEL "disp_unit/q_reg_8"
        BEL "disp_unit/q_reg_9" BEL "disp_unit/q_reg_10" BEL
        "disp_unit/q_reg_11" BEL "disp_unit/q_reg_12" BEL "disp_unit/q_reg_13"
        BEL "disp_unit/q_reg_14" BEL "disp_unit/q_reg_15" BEL
        "disp_unit/q_reg_16" BEL "disp_unit/q_reg_17" BEL "b_reg_0" BEL
        "b_reg_1" BEL "b_reg_2" BEL "b_reg_3" BEL "b_reg_4" BEL "b_reg_5" BEL
        "b_reg_6" BEL "b_reg_7" BEL "d_reg_0" BEL "d_reg_1" BEL "d_reg_2" BEL
        "d_reg_3" BEL "d_reg_4" BEL "d_reg_5" BEL "d_reg_6" BEL "d_reg_7" BEL
        "btn_reg" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

