//! **************************************************************************
// Written by: Map P.15xf on Thu Feb 20 21:10:51 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "P62" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "ARD_SDA" LOCATE = SITE "P88" LEVEL 1;
COMP "OSC_FPGA" LOCATE = SITE "P92" LEVEL 1;
COMP "ARD_SCL" LOCATE = SITE "P87" LEVEL 1;
TIMEGRP clk50_grp = BEL "counter_output_0" BEL "counter_output_1" BEL
        "counter_output_2" BEL "counter_output_3" BEL "counter_output_4" BEL
        "counter_output_5" BEL "counter_output_6" BEL "counter_output_7" BEL
        "counter_output_8" BEL "counter_output_9" BEL "counter_output_10" BEL
        "counter_output_11" BEL "counter_output_12" BEL "counter_output_13"
        BEL "counter_output_14" BEL "counter_output_15" BEL
        "counter_output_16" BEL "counter_output_17" BEL "counter_output_18"
        BEL "counter_output_19" BEL "counter_output_20" BEL
        "counter_output_21" BEL "counter_output_22" BEL "counter_output_23"
        BEL "counter_output_24" BEL "beat0/time_counter_0" BEL
        "beat0/time_counter_1" BEL "beat0/time_counter_2" BEL
        "beat0/time_counter_3" BEL "beat0/time_counter_4" BEL
        "beat0/time_counter_5" BEL "beat0/time_counter_6" BEL
        "beat0/time_counter_7" BEL "beat0/time_counter_8" BEL
        "beat0/time_counter_9" BEL "beat0/time_counter_10" BEL
        "beat0/time_counter_11" BEL "beat0/time_counter_12" BEL
        "beat0/time_counter_13" BEL "beat0/time_counter_14" BEL
        "beat0/time_counter_15" BEL "beat0/time_counter_16" BEL
        "beat0/time_counter_17" BEL "beat0/time_counter_18" BEL
        "beat0/time_counter_19" BEL "beat0/time_counter_20" BEL
        "beat0/time_counter_21" BEL "beat0/time_counter_22" BEL
        "beat0/time_counter_23" BEL "beat0/time_counter_24" BEL
        "beat0/time_counter_25" BEL "beat0/cycle_counter_0" BEL
        "beat0/cycle_counter_1" BEL "OSC_FPGA_BUFGP/BUFG";
TS_PER_CLK50 = PERIOD TIMEGRP "clk50_grp" 20 ns HIGH 50%;
SCHEMATIC END;

