######################################################
######################################################
## These constraints are for MARK-1 RPI/FPGA shield ##
######################################################
######################################################

######################
# Timing Constraints #
######################

##### Grouping Constraints #####
NET "OSC_FPGA" TNM_NET = "clk50_grp";
#NET "GPMC_CLK" TNM_NET = clk100_grp;
#PIN "sys_clocks_gen/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
##### Clock Period Constraints #####
TIMESPEC TS_PER_CLK50 = PERIOD "clk50_grp" 20 ns;
#TIMESPEC TS_PER_CLK100 = PERIOD "clk100_grp" 10 ns;

#######################
# Pin LOC Constraints #
#######################



#OSCILLATOR
NET "OSC_FPGA" LOC = P92;
#GPMC PORT##############################################################################
#GPMC CLK
# 
#NET "GPMC_CLK" IOSTANDARD = LVTTL;
#NET "GPMC_CLK" DRIVE = 2;
#NET "GPMC_CLK" SLEW = FAST;
#NET "GPMC_CLK" LOC = P95;
#NET "GPMC_CSN<2>"          LOC = "P104"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  |  IOB=FORCE ;
## 
#NET "GPMC_CSN[2]" IOSTANDARD = LVTTL;
#NET "GPMC_CSN[2]" DRIVE = 2;
#NET "GPMC_CSN[2]" SLEW = SLOW;
#NET "GPMC_CSN[2]" LOC = P104;
## 
#NET "GPMC_CSN[1]" IOSTANDARD = LVTTL;
#NET "GPMC_CSN[1]" DRIVE = 2;
#NET "GPMC_CSN[1]" SLEW = SLOW;
#INST "GPMC_CSN_1_IBUF" IOB =FORCE;
#NET "GPMC_CSN[1]" LOC = P102;
#NET "GPMC_CSN<0>"          LOC = "P97"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  |  IOB=FORCE ;
## 
#NET "GPMC_CSN[0]" IOSTANDARD = LVTTL;
#NET "GPMC_CSN[0]" DRIVE = 2;
#NET "GPMC_CSN[0]" SLEW = SLOW;
#NET "GPMC_CSN[0]" LOC = P97;
##
#NET "GPMC_ADVN" IOSTANDARD = LVTTL;
#NET "GPMC_ADVN" DRIVE = 2;
#NET "GPMC_ADVN" SLEW = SLOW;
#INST "GPMC_ADVN_IBUF" IOB =FORCE;
#NET "GPMC_ADVN" LOC = P121;
##  
#NET "GPMC_OEN" IOSTANDARD = LVTTL;
#NET "GPMC_OEN" DRIVE = 2;
#NET "GPMC_OEN" SLEW = SLOW;
#INST "GPMC_OEN_IBUF" IOB =FORCE;
#NET "GPMC_OEN" LOC = P120;
## 
#NET "GPMC_BEN[0]" IOSTANDARD = LVTTL;
#NET "GPMC_BEN[0]" DRIVE = 2;
#NET "GPMC_BEN[0]" SLEW = SLOW;
#INST "GPMC_BEN_0_IBUF" IOB =FORCE;
#NET "GPMC_BEN[0]" LOC = P119;
## 
#NET "GPMC_BEN[1]" IOSTANDARD = LVTTL;
#NET "GPMC_BEN[1]" DRIVE = 2;
#NET "GPMC_BEN[1]" SLEW = SLOW;
#INST "GPMC_BEN_1_IBUF" IOB =FORCE;
#NET "GPMC_BEN[1]" LOC = P46;
## 
#NET "GPMC_WEN" IOSTANDARD = LVTTL;
#NET "GPMC_WEN" DRIVE = 2;
#NET "GPMC_WEN" SLEW = SLOW;
#INST "GPMC_WEN_IBUF" IOB =FORCE;
#NET "GPMC_WEN" LOC = P118;
##GPMC A/D
## 
#NET "GPMC_AD[0]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[0]" SLEW = SLOW;
#INST "GPMC_AD_0_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[0]" LOC = P98;
## 
#NET "GPMC_AD[1]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[1]" SLEW = SLOW;
#INST "GPMC_AD_1_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[1]" LOC = P99;
## 
#NET "GPMC_AD[2]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[2]" SLEW = SLOW;
#INST "GPMC_AD_2_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[2]" LOC = P124;
## 
#NET "GPMC_AD[3]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[3]" SLEW = SLOW;
#INST "GPMC_AD_3_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[3]" LOC = P123;
## 
#NET "GPMC_AD[4]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[4]" SLEW = SLOW;
#INST "GPMC_AD_4_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[4]" LOC = P100;
## 
#NET "GPMC_AD[5]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[5]" SLEW = SLOW;
#INST "GPMC_AD_5_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[5]" LOC = P101;
## 
#NET "GPMC_AD[6]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[6]" SLEW = SLOW;
#INST "GPMC_AD_6_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[6]" LOC = P127;
## 
#NET "GPMC_AD[7]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[7]" SLEW = SLOW;
#INST "GPMC_AD_7_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[7]" LOC = P126;
## 
#NET "GPMC_AD[8]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[8]" SLEW = SLOW;
#INST "GPMC_AD_8_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[8]" LOC = P105;
## 
#NET "GPMC_AD[9]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[9]" SLEW = SLOW;
#INST "GPMC_AD_9_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[9]" LOC = P115;
## 
#NET "GPMC_AD[10]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[10]" SLEW = SLOW;
#INST "GPMC_AD_10_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[10]" LOC = P114;
## 
#NET "GPMC_AD[11]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[11]" SLEW = SLOW;
#INST "GPMC_AD_11_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[11]" LOC = P94;
## 
#NET "GPMC_AD[12]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[12]" SLEW = SLOW;
#INST "GPMC_AD_12_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[12]" LOC = P116;
## 
#NET "GPMC_AD[13]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[13]" SLEW = SLOW;
#INST "GPMC_AD_13_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[13]" LOC = P117;
## 
#NET "GPMC_AD[14]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[14]" SLEW = SLOW;
#INST "GPMC_AD_14_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[14]" LOC = P111;
## 
#NET "GPMC_AD[15]" IOSTANDARD = LVTTL;
#NET "GPMC_AD[15]" SLEW = SLOW;
#INST "GPMC_AD_15_IOBUF/OBUFT" IOB =FORCE;
#NET "GPMC_AD[15]" LOC = P112;
#LED######################################################################################
# 
NET "LED[0]" IOSTANDARD = LVTTL;
NET "LED[0]" DRIVE = 2;
NET "LED[0]" SLEW = SLOW;
NET "LED[0]" LOC = P55;
# 
NET "LED[1]" IOSTANDARD = LVTTL;
NET "LED[1]" DRIVE = 2;
NET "LED[1]" SLEW = SLOW;
NET "LED[1]" LOC = P93;
#PUSH BUTTONS##############################################################################
# 
NET "PB[0]" IOSTANDARD = LVTTL;
NET "PB[0]" DRIVE = 2;
NET "PB[0]" SLEW = SLOW;
NET "PB[0]" LOC = P88;
# 
NET "PB[1]" IOSTANDARD = LVTTL;
NET "PB[1]" DRIVE = 2;
NET "PB[1]" SLEW = SLOW;
NET "PB[1]" LOC = P75;
#BB SPI PORT################################################################################
#NET "BB_SPI_MISO"	LOC = "P51";
#NET "BB_SPI_SCK"	LOC = "P50";
#NET "BB_SPI_SS"	LOC = "P48";
#NET "BB_SPI_MOSI"	LOC = "P47";
#PMOD1######################################################################################
#NET "PMOD1_1"	LOC = "P67"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW | PULLUP ;
#NET "PMOD1_2"	LOC = "P62"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  |PULLUP ;
#NET "PMOD1_3"	LOC = "P58"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;
#NET "PMOD1_4"	LOC = "P56"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;
#NET "PMOD1_7"	LOC = "P66"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;
#NET "PMOD1_8"	LOC = "P61"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;
#NET "PMOD1_9"	LOC = "P59"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;
#NET "PMOD1_10"	LOC = "P57"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW  ;
##PMOD2########################################################################################
#NET "PMOD2<0>"	LOC = "P85"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#NET "PMOD2<1>"	LOC = "P83"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#NET "PMOD2<2>"	LOC = "P81"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#NET "PMOD2<3>"	LOC = "P79"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#NET "PMOD2<4>"	LOC = "P84"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#NET "PMOD2<5>"	LOC = "P82"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#NET "PMOD2<6>"	LOC = "P80"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#NET "PMOD2<7>"	LOC = "P78"| IOSTANDARD = LVTTL | DRIVE = 2 | SLEW = SLOW ;
#SATA##########################################################################################
#NET "SATA_D1_P"	LOC = "P44";
#NET "SATA_D1_N"	LOC = "P43";
#NET "SATA_D2_P"	LOC = "P41";
#NET "SATA_D2_N"	LOC = "P40";

NET "SRAM_CSN"	LOC = "P134"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_WEN"	LOC = "P1"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_OEN"	LOC = "P12"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_BLEN"	LOC = "P15"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_BHEN"	LOC = "P14"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;



NET "SRAM_ADD<0>"	LOC = "P126"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<1>"	LOC = "P127"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<2>"	LOC = "P131"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<3>"	LOC = "P132"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<4>"	LOC = "P133"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<5>"	LOC = "P2"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<6>"	LOC = "P5"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<7>"	LOC = "P6"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<8>"	LOC = "P7"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<9>"	LOC = "P8"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<10>"	LOC = "P35"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<11>"	LOC = "P34"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<12>"	LOC = "P33"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<13>"	LOC = "P30"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<14>"	LOC = "P32"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<15>"	LOC = "P11"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<16>"	LOC = "P10"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<17>"	LOC = "P9"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_ADD<18>"	LOC = "P29"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;


NET "SRAM_DATA<0>"	LOC = "P137"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<1>"	LOC = "P138"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<2>"	LOC = "P139"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<3>"	LOC = "P144"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<4>"	LOC = "P143"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<5>"	LOC = "P142"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<6>"	LOC = "P141"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<7>"	LOC = "P140"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<8>"	LOC = "P27"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<9>"	LOC = "P26"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<10>"	LOC = "P24"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<11>"	LOC = "P23"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<12>"	LOC = "P22"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<13>"	LOC = "P21"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<14>"	LOC = "P17"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;
NET "SRAM_DATA<15>"	LOC = "P16"| IOSTANDARD = LVTTL | SLEW = FAST | IOB=TRUE  ;








#RAM - "RAM21" IS NOT ROUTED!!  = ADR15 (SRAM) = DQ13 (SDRAM)
