//! **************************************************************************
// Written by: Map P.15xf on Fri Mar 21 16:52:29 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "OSC_FPGA" LOCATE = SITE "P124" LEVEL 1;
COMP "ps2c_1" LOCATE = SITE "P88" LEVEL 1;
COMP "ps2d_1" LOCATE = SITE "P87" LEVEL 1;
TIMEGRP clk50_grp = BEL "counter_output_0" BEL "counter_output_1" BEL
        "counter_output_2" BEL "counter_output_3" BEL "counter_output_4" BEL
        "counter_output_5" BEL "counter_output_6" BEL "counter_output_7" BEL
        "counter_output_8" BEL "counter_output_9" BEL "counter_output_10" BEL
        "counter_output_11" BEL "counter_output_12" BEL "counter_output_13"
        BEL "counter_output_14" BEL "counter_output_15" BEL
        "counter_output_16" BEL "counter_output_17" BEL "counter_output_18"
        BEL "counter_output_19" BEL "counter_output_20" BEL
        "counter_output_21" BEL "counter_output_22" BEL "counter_output_23"
        BEL "counter_output_24" BEL "OSC_FPGA_BUFGP/BUFG";
TS_PER_CLK50 = PERIOD TIMEGRP "clk50_grp" 20 ns HIGH 50%;
SCHEMATIC END;

