//! **************************************************************************
// Written by: Map P.15xf on Sun Mar 30 22:19:37 2014
//! **************************************************************************

SCHEMATIC START;
COMP "OSC_FPGA" LOCATE = SITE "P85" LEVEL 1;
COMP "SYS_SDA" LOCATE = SITE "P98" LEVEL 1;
COMP "SYS_SCL" LOCATE = SITE "P97" LEVEL 1;
COMP "PB<0>" LOCATE = SITE "P102" LEVEL 1;
COMP "PB<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "SYS_SPI_SCK" LOCATE = SITE "P70" LEVEL 1;
PIN SYS_SPI_SCK_pin<0> = BEL "SYS_SPI_SCK" PINNAME PAD;
PIN "SYS_SPI_SCK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED<0>" LOCATE = SITE "P105" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "SYS_SPI_MISO" LOCATE = SITE "P75" LEVEL 1;
COMP "SYS_SPI_MOSI" LOCATE = SITE "P65" LEVEL 1;
COMP "PMOD1<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "PMOD1<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "PMOD1<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "PMOD1<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "PMOD1<4>" LOCATE = SITE "P88" LEVEL 1;
COMP "PMOD2<0>" LOCATE = SITE "P142" LEVEL 1;
COMP "PMOD1<5>" LOCATE = SITE "P92" LEVEL 1;
COMP "PMOD2<1>" LOCATE = SITE "P141" LEVEL 1;
COMP "PMOD1<6>" LOCATE = SITE "P93" LEVEL 1;
COMP "PMOD2<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "PMOD1<7>" LOCATE = SITE "P94" LEVEL 1;
COMP "PMOD2<3>" LOCATE = SITE "P14" LEVEL 1;
COMP "PMOD2<4>" LOCATE = SITE "P144" LEVEL 1;
COMP "PMOD3<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "PMOD2<5>" LOCATE = SITE "P143" LEVEL 1;
COMP "PMOD3<1>" LOCATE = SITE "P137" LEVEL 1;
COMP "PMOD2<6>" LOCATE = SITE "P140" LEVEL 1;
COMP "PMOD3<2>" LOCATE = SITE "P124" LEVEL 1;
COMP "PMOD2<7>" LOCATE = SITE "P139" LEVEL 1;
COMP "PMOD3<3>" LOCATE = SITE "P123" LEVEL 1;
COMP "PMOD3<4>" LOCATE = SITE "P119" LEVEL 1;
COMP "PMOD4<0>" LOCATE = SITE "P112" LEVEL 1;
COMP "PMOD3<5>" LOCATE = SITE "P118" LEVEL 1;
COMP "PMOD4<1>" LOCATE = SITE "P111" LEVEL 1;
COMP "PMOD3<6>" LOCATE = SITE "P117" LEVEL 1;
COMP "PMOD4<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "PMOD3<7>" LOCATE = SITE "P116" LEVEL 1;
COMP "PMOD4<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "PMOD4<4>" LOCATE = SITE "P115" LEVEL 1;
COMP "PMOD4<5>" LOCATE = SITE "P114" LEVEL 1;
COMP "PMOD4<6>" LOCATE = SITE "P134" LEVEL 1;
COMP "PMOD4<7>" LOCATE = SITE "P133" LEVEL 1;
COMP "RP_SPI_CE0N" LOCATE = SITE "P79" LEVEL 1;
PIN SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1> = BEL
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1" PINNAME O;
PIN pll0/dcm_sp_inst_pins<2> = BEL "pll0/dcm_sp_inst" PINNAME CLKFB;
TIMEGRP pll0_clk2x = BEL "sound_0/divider_counter_1" BEL
        "sound_0/divider_counter_0" BEL "sound_0/divider_counter_4" BEL
        "sound_0/divider_counter_2" BEL "sound_0/divider_counter_3" BEL
        "sound_0/divider_counter_7" BEL "sound_0/divider_counter_5" BEL
        "sound_0/divider_counter_6" BEL "sound_0/divider_counter_10" BEL
        "sound_0/divider_counter_8" BEL "sound_0/divider_counter_9" BEL
        "sound_0/divider_counter_13" BEL "sound_0/divider_counter_11" BEL
        "sound_0/divider_counter_12" BEL "sound_0/divider_counter_16" BEL
        "sound_0/divider_counter_14" BEL "sound_0/divider_counter_15" BEL
        "sound_0/divider_counter_17" BEL "sound_0/divider_counter_18" BEL
        "sound_1/divider_counter_2" BEL "sound_1/divider_counter_0" BEL
        "sound_1/divider_counter_1" BEL "sound_1/divider_counter_5" BEL
        "sound_1/divider_counter_3" BEL "sound_1/divider_counter_4" BEL
        "sound_1/divider_counter_8" BEL "sound_1/divider_counter_6" BEL
        "sound_1/divider_counter_7" BEL "sound_1/divider_counter_11" BEL
        "sound_1/divider_counter_9" BEL "sound_1/divider_counter_10" BEL
        "sound_1/divider_counter_14" BEL "sound_1/divider_counter_12" BEL
        "sound_1/divider_counter_13" BEL "sound_1/divider_counter_17" BEL
        "sound_1/divider_counter_15" BEL "sound_1/divider_counter_16" BEL
        "gpio0/wbs_readdata_15" BEL "gpio0/wbs_readdata_14" BEL
        "gpio0/wbs_readdata_13" BEL "gpio0/wbs_readdata_12" BEL
        "gpio0/wbs_readdata_11" BEL "gpio0/wbs_readdata_10" BEL
        "gpio0/wbs_readdata_9" BEL "gpio0/wbs_readdata_8" BEL
        "gpio0/wbs_readdata_6" BEL "gpio0/wbs_readdata_0" BEL "gpio0/input_15"
        BEL "gpio0/input_14" BEL "gpio0/input_13" BEL "gpio0/input_12" BEL
        "gpio0/input_11" BEL "gpio0/input_10" BEL "gpio0/input_9" BEL
        "gpio0/input_8" BEL "gpio0/input_6" BEL "gpio0/input_0" BEL
        "gpio0/dir_15" BEL "gpio0/dir_14" BEL "gpio0/dir_13" BEL
        "gpio0/dir_12" BEL "gpio0/dir_11" BEL "gpio0/dir_10" BEL "gpio0/dir_9"
        BEL "gpio0/dir_8" BEL "gpio0/dir_7" BEL "gpio0/dir_6" BEL
        "gpio0/dir_5" BEL "gpio0/dir_4" BEL "gpio0/dir_3" BEL "gpio0/dir_2"
        BEL "gpio0/dir_1" BEL "gpio0/dir_0" BEL "gpio0/output_15" BEL
        "gpio0/output_14" BEL "gpio0/output_13" BEL "gpio0/output_12" BEL
        "gpio0/output_11" BEL "gpio0/output_10" BEL "gpio0/output_9" BEL
        "gpio0/output_8" BEL "gpio0/output_6" BEL "gpio0/output_0" BEL
        "mem_interface0/write" BEL "mem_interface0/strobe" BEL
        "sseg0/divider_counter_17" BEL "sseg0/divider_counter_16" BEL
        "sseg0/divider_counter_15" BEL "sseg0/divider_counter_14" BEL
        "sseg0/divider_counter_13" BEL "sseg0/divider_counter_12" BEL
        "sseg0/divider_counter_11" BEL "sseg0/divider_counter_10" BEL
        "sseg0/divider_counter_9" BEL "sseg0/divider_counter_8" BEL
        "sseg0/divider_counter_7" BEL "sseg0/divider_counter_6" BEL
        "sseg0/divider_counter_5" BEL "sseg0/divider_counter_4" BEL
        "sseg0/divider_counter_2" BEL "sseg0/divider_counter_1" BEL
        "sseg0/divider_counter_3" BEL "sseg0/divider_counter_0" BEL
        "sseg0/wbs_readdata_15" BEL "sseg0/wbs_readdata_14" BEL
        "sseg0/wbs_readdata_13" BEL "sseg0/wbs_readdata_12" BEL
        "sseg0/wbs_readdata_11" BEL "sseg0/wbs_readdata_10" BEL
        "sseg0/wbs_readdata_9" BEL "sseg0/wbs_readdata_8" BEL
        "sseg0/wbs_readdata_7" BEL "sseg0/wbs_readdata_6" BEL
        "sseg0/wbs_readdata_5" BEL "sseg0/wbs_readdata_4" BEL
        "sseg0/wbs_readdata_3" BEL "sseg0/wbs_readdata_2" BEL
        "sseg0/wbs_readdata_1" BEL "sseg0/wbs_readdata_0" BEL
        "sseg0/cathode_buffer_4" BEL "sseg0/cathode_buffer_3" BEL
        "sseg0/cathode_buffer_2" BEL "sseg0/cathode_buffer_1" BEL
        "sseg0/cathode_buffer_0" BEL "sseg0/sseg_edu_regs_2_15" BEL
        "sseg0/sseg_edu_regs_2_14" BEL "sseg0/sseg_edu_regs_2_13" BEL
        "sseg0/sseg_edu_regs_2_12" BEL "sseg0/sseg_edu_regs_2_11" BEL
        "sseg0/sseg_edu_regs_2_10" BEL "sseg0/sseg_edu_regs_2_9" BEL
        "sseg0/sseg_edu_regs_2_8" BEL "sseg0/sseg_edu_regs_2_7" BEL
        "sseg0/sseg_edu_regs_2_6" BEL "sseg0/sseg_edu_regs_2_5" BEL
        "sseg0/sseg_edu_regs_2_4" BEL "sseg0/sseg_edu_regs_2_3" BEL
        "sseg0/sseg_edu_regs_2_2" BEL "sseg0/sseg_edu_regs_2_1" BEL
        "sseg0/sseg_edu_regs_2_0" BEL "sseg0/sseg_edu_regs_1_15" BEL
        "sseg0/sseg_edu_regs_1_14" BEL "sseg0/sseg_edu_regs_1_13" BEL
        "sseg0/sseg_edu_regs_1_12" BEL "sseg0/sseg_edu_regs_1_11" BEL
        "sseg0/sseg_edu_regs_1_10" BEL "sseg0/sseg_edu_regs_1_9" BEL
        "sseg0/sseg_edu_regs_1_8" BEL "sseg0/sseg_edu_regs_1_7" BEL
        "sseg0/sseg_edu_regs_1_6" BEL "sseg0/sseg_edu_regs_1_5" BEL
        "sseg0/sseg_edu_regs_1_4" BEL "sseg0/sseg_edu_regs_1_3" BEL
        "sseg0/sseg_edu_regs_1_2" BEL "sseg0/sseg_edu_regs_1_1" BEL
        "sseg0/sseg_edu_regs_1_0" BEL "sseg0/sseg_edu_regs_0_15" BEL
        "sseg0/sseg_edu_regs_0_14" BEL "sseg0/sseg_edu_regs_0_13" BEL
        "sseg0/sseg_edu_regs_0_12" BEL "sseg0/sseg_edu_regs_0_11" BEL
        "sseg0/sseg_edu_regs_0_10" BEL "sseg0/sseg_edu_regs_0_9" BEL
        "sseg0/sseg_edu_regs_0_8" BEL "sseg0/sseg_edu_regs_0_7" BEL
        "sseg0/sseg_edu_regs_0_6" BEL "sseg0/sseg_edu_regs_0_5" BEL
        "sseg0/sseg_edu_regs_0_4" BEL "sseg0/sseg_edu_regs_0_3" BEL
        "sseg0/sseg_edu_regs_0_2" BEL "sseg0/sseg_edu_regs_0_1" BEL
        "sseg0/sseg_edu_regs_0_0" BEL "sound_0/output_buffer" BEL
        "sound_1/output_buffer" BEL "gpio0/output_7" BEL "gpio0/output_5" BEL
        "gpio0/output_4" BEL "gpio0/output_3" BEL "gpio0/output_2" BEL
        "gpio0/output_1" BEL "gpio0/Mshreg_wbs_readdata_4" BEL
        "gpio0/wbs_readdata_4" BEL "gpio0/Mshreg_wbs_readdata_7" BEL
        "gpio0/wbs_readdata_7" BEL "gpio0/Mshreg_wbs_readdata_5" BEL
        "gpio0/wbs_readdata_5" BEL "gpio0/Mshreg_wbs_readdata_1" BEL
        "gpio0/wbs_readdata_1" BEL "gpio0/Mshreg_wbs_readdata_3" BEL
        "gpio0/wbs_readdata_3" BEL "gpio0/Mshreg_wbs_readdata_2" BEL
        "gpio0/wbs_readdata_2" BEL "pll0/clkout1_buf" PIN
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1>" PIN
        "pll0/dcm_sp_inst_pins<2>";
TIMEGRP pll0_clk0 = BEL "pll0/clkout2_buf" BEL
        "vga0/vga_sync_unit/h_count_reg_9" BEL
        "vga0/vga_sync_unit/h_count_reg_8" BEL
        "vga0/vga_sync_unit/h_count_reg_7" BEL
        "vga0/vga_sync_unit/h_count_reg_6" BEL
        "vga0/vga_sync_unit/h_count_reg_5" BEL
        "vga0/vga_sync_unit/h_count_reg_4" BEL
        "vga0/vga_sync_unit/h_count_reg_3" BEL
        "vga0/vga_sync_unit/h_count_reg_2" BEL
        "vga0/vga_sync_unit/h_count_reg_1" BEL
        "vga0/vga_sync_unit/h_count_reg_0" BEL
        "vga0/vga_sync_unit/v_count_reg_9" BEL
        "vga0/vga_sync_unit/v_count_reg_8" BEL
        "vga0/vga_sync_unit/v_count_reg_7" BEL
        "vga0/vga_sync_unit/v_count_reg_6" BEL
        "vga0/vga_sync_unit/v_count_reg_5" BEL
        "vga0/vga_sync_unit/v_count_reg_4" BEL
        "vga0/vga_sync_unit/v_count_reg_3" BEL
        "vga0/vga_sync_unit/v_count_reg_2" BEL
        "vga0/vga_sync_unit/v_count_reg_1" BEL
        "vga0/vga_sync_unit/v_count_reg_0" BEL "vga0/rgb_reg_2" BEL
        "vga0/rgb_reg_1" BEL "vga0/rgb_reg_0" BEL
        "vga0/vga_sync_unit/h_sync_reg" BEL "vga0/vga_sync_unit/v_sync_reg"
        BEL "vga0/vga_sync_unit/mod2_reg";
TIMEGRP clk32_grp = BEL "mem_interface0/bit_count_3" BEL
        "mem_interface0/bit_count_2" BEL "mem_interface0/bit_count_1" BEL
        "mem_interface0/bit_count_0" BEL "mem_interface0/addr_bus_latched_15"
        BEL "mem_interface0/addr_bus_latched_14" BEL
        "mem_interface0/addr_bus_latched_13" BEL
        "mem_interface0/addr_bus_latched_12" BEL
        "mem_interface0/addr_bus_latched_11" BEL
        "mem_interface0/addr_bus_latched_10" BEL
        "mem_interface0/addr_bus_latched_9" BEL
        "mem_interface0/addr_bus_latched_8" BEL
        "mem_interface0/addr_bus_latched_7" BEL
        "mem_interface0/addr_bus_latched_6" BEL
        "mem_interface0/addr_bus_latched_5" BEL
        "mem_interface0/addr_bus_latched_4" BEL
        "mem_interface0/addr_bus_latched_3" BEL
        "mem_interface0/addr_bus_latched_2" BEL
        "mem_interface0/addr_bus_latched_1" BEL
        "mem_interface0/addr_bus_latched_0" BEL
        "mem_interface0/data_in_latched_15" BEL
        "mem_interface0/data_in_latched_14" BEL
        "mem_interface0/data_in_latched_13" BEL
        "mem_interface0/data_in_latched_12" BEL
        "mem_interface0/data_in_latched_11" BEL
        "mem_interface0/data_in_latched_10" BEL
        "mem_interface0/data_in_latched_9" BEL
        "mem_interface0/data_in_latched_8" BEL
        "mem_interface0/data_in_latched_7" BEL
        "mem_interface0/data_in_latched_6" BEL
        "mem_interface0/data_in_latched_5" BEL
        "mem_interface0/data_in_latched_4" BEL
        "mem_interface0/data_in_latched_3" BEL
        "mem_interface0/data_in_latched_2" BEL
        "mem_interface0/data_in_latched_1" BEL
        "mem_interface0/data_in_latched_0" BEL "mem_interface0/auto_inc" BEL
        "mem_interface0/data_out_sr_15" BEL "mem_interface0/data_out_sr_14"
        BEL "mem_interface0/data_out_sr_13" BEL
        "mem_interface0/data_out_sr_12" BEL "mem_interface0/data_out_sr_11"
        BEL "mem_interface0/data_out_sr_10" BEL "mem_interface0/data_out_sr_9"
        BEL "mem_interface0/data_out_sr_8" BEL "mem_interface0/data_out_sr_7"
        BEL "mem_interface0/data_out_sr_6" BEL "mem_interface0/data_out_sr_5"
        BEL "mem_interface0/data_out_sr_4" BEL "mem_interface0/data_out_sr_3"
        BEL "mem_interface0/data_out_sr_2" BEL "mem_interface0/data_out_sr_1"
        BEL "mem_interface0/data_confn" BEL "mem_interface0/rd_latched" BEL
        "mem_interface0/wr_latched" BEL "mem_interface0/rd_wrn" BEL
        "mem_interface0/data_in_sr_14" BEL "mem_interface0/data_in_sr_13" BEL
        "mem_interface0/data_in_sr_12" BEL "mem_interface0/data_in_sr_11" BEL
        "mem_interface0/data_in_sr_10" BEL "mem_interface0/data_in_sr_9" BEL
        "mem_interface0/data_in_sr_8" BEL "mem_interface0/data_in_sr_7" BEL
        "mem_interface0/data_in_sr_6" BEL "mem_interface0/data_in_sr_5" BEL
        "mem_interface0/data_in_sr_4" BEL "mem_interface0/data_in_sr_3" BEL
        "mem_interface0/data_in_sr_2" BEL "mem_interface0/data_in_sr_1" BEL
        "mem_interface0/data_in_sr_0" BEL "mem_interface0/data_byte" BEL
        "SYS_SPI_SCK_BUFGP/BUFG";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN pll0/dcm_sp_inst_pins<3> = BEL "pll0/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP clk50_grp = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "pll0/dcm_sp_inst_pins<3>";
TS_PER_CLK50 = PERIOD TIMEGRP "clk50_grp" 20 ns HIGH 50%;
TS_PER_CLK32 = PERIOD TIMEGRP "clk32_grp" 20 ns HIGH 50%;
TS_pll0_clk2x = PERIOD TIMEGRP "pll0_clk2x" TS_PER_CLK50 / 2 HIGH 50%;
TS_pll0_clk0 = PERIOD TIMEGRP "pll0_clk0" TS_PER_CLK50 HIGH 50%;
SCHEMATIC END;

